/*
Custom Styles
*/
.navEffects:hover
{
  background-color: #2f89fc;
}
.navEffects:hover a
{
 color: white !important;
}
.back-white
{
  background-color: white; !important
    min-height: 100vh;
}
.btn-login:hover
{
  background-color: #2f89fc;
  border-color: #2f89fc;
}
.navlogo
{
  width: 60px;
  height: 60px;
}

.slideLogo
{
  width: 60% !important;
  height: auto;
}
.transBack
{
    background-color: rgba(0, 0, 0, 0.1);
    margin: 5px;
    border-radius: 15px;
    padding: 8px;
}
.backblue
{
    min-height: 100vh;
    background-color: #2f89fc;
}
.btn_style1
{
  background-color: #2f89fc !important;
  color: white !important;
  font-style: bold !important;
  border-radius: 50px;
}
.btn_style1:hover
{
  background-color: #dd6436 !important;
  color: white !important;
  font-style: bold !important;
}
.box_style1:focus
{
  border-radius: 15px;
  border-width: 3px;
  border-color: #2f89fc !important;
  transition-timing-function: ease-in;
  transition: all 0.5s ;
}
.h3
{

}
.cusTable
{
  width: 100% !important;
  text-align: center;

}
.cusTable td
{
  width: 50% !important;
  padding-top:8px;
  padding-bottom: 8px;
  padding-right: 15px;
}
.cusTable th
{

  background-color: #2f89fc;
  color: white;
  padding-top:8px;
  padding-bottom: 8px;
}
.cusTable tr:nth-child(even)
{
  background-color: #ededed;
  color: black;

}

.cusTable tr:nth-child(odd)
{
  background-color: #dedede;
  color: black;

}
.txtBlue
{
  color:  #2f89fc !important;
}
.block
{
  display: block;
}
.prevH
{
    word-break: break-all;
}
.prevH label
{
  color: #dd6436;
  text-decoration: underline;
  font-weight: 600;
}

/* End Custom Styles*/
